#Caption{
    text-align: center;
    font-size: 450%;
    color: black;
}
.Flexit {
  display: flex;
  background-color: black;
}

.Flexit div {
  background-color: #f1f1f1;
  margin: 1px;
  padding: 20px;
  font-size: 30px;
}
body{
    background-color: gainsboro;
}


.btn {
    text-decoration: none;
    display: inline-block;
    background-color: red;
    color: white;           
    padding: 10px 20px;        
    border-radius: 5px;        
}

